.numb{
margin-left: 10px;
margin-right: 12px;
border: 1px solid grey;
padding: 0px 17px;
font-size: 23px;
}

.outer{
  border:1px solid #ddd;
  box-shadow: 0px 0px 4px #e2e2e2;
  height:100px;
  width:60%;
  margin-left:45px;
  margin-bottom: 30px;
  border-radius:5px;
}

.book_ticket{
  background: #d7343a;
padding: 10px 50px;
border: none;
font-size: 14px;
color: #fff;
border-radius: 5px;
cursor: pointer;
margin-left:673px;
}

#book_ticket1{
  background: #d7343a;
padding: 10px 50px;
border: none;
font-size: 14px;
color: #fff;
border-radius: 5px;
cursor: pointer;
margin-left:793px;
margin-top:-73px;
}

.outer_box{
  border: 1px solid #ddd;
border-radius: 5px;
box-shadow: 0px 0px 4px #e2e2e2;
width: calc(100% - 104px);
margin-left:54px;
}

.header1{
  font-size: 40px;
    color: deepskyblue;
    
    display: inline-block;
    margin-left:550px;
}
.header2{
  font-size: 17px;
    width: 366px !important;
    display: inline-block;
    margin-left:35px;

}

.contact{
  margin-left: 475px;
    font-size: 20px;
}
.contact1{
  margin-left: 440px;
    font-size: 20px;
}

.maps{
  margin-left: 147px;
    font-size: 28px;
    font-family: 'Roboto';
}

.ticket{
  margin-left:23px;
  font-size:16px;
  font-family:'Roboto';
  width:137px !important;
  display:inline-block;
}
